* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
}

h1 {
    margin: 2rem 0;
}

h2 {
    margin: 1.75rem 0;
}

h3 {
    margin: 1.5rem 0;
}


.header {
    padding: 8rem 0 8rem 0;
    background: #171818;
    color: #fff;
}

.header-row {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}

.header-row-item {
    width: 80%;
    grid-column-start: 1;
}



.header-title {
    margin-top: 0;
    line-height: 1.5;
    font-size: 48px;
    font-weight: 800;
}

.header-p {
    margin: 2rem 0;
    line-height: 1.75;
}

.header-img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin: 5rem 0;
}


.section-header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.section-text {
    line-height: 2;
}

video {
    width: 100%;
    margin-top: 0.5rem;
    padding: 15px;
    background: #000;
    min-height: 600px;
}