* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    margin: 2rem 0;
}

h2 {
    margin: 1.75rem 0;
}

h3 {
    margin: 1.5rem 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;;
}


.header {
    padding: 8rem 0 8rem 0;
    background: #171818;
    color: #fff;
}

.header-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.header-row-item {
    width: 80%;
    grid-column-start: 1;
}

.header-right {
    display: flex;
    align-items: center;
}



.header-title {
    margin-top: 0;
    line-height: 1.5;
    font-size: 48px;
    font-weight: 800;
    color: #fff;
}

.header-p {
    margin: 2rem 0;
    line-height: 1.75;
}

.header-img {
    max-width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}

main {
    max-width: 1100px;
    margin: 0 auto;
}

section {
    margin: 5rem 0;
}


.section-header {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #333;
}

.section-text {
    line-height: 2;
    color: rgb(102, 102, 102);
}

video {
    width: 100%;
    margin-top: 0.5rem;
    padding: 15px;
    background: #000;
    min-height: 600px;
}

.resize-img {
    display: block;
    margin-right: 5rem;
}

.pad-left {
    padding-left: 2rem;
}


table {
    padding: 1rem;
    color: #333;
    width: 100%;
}

th, td {
    padding: 1rem;
    border-bottom: 1px solid #eee;
    text-align: center;
}

tr:last-child td {
    border-bottom: none;
}

tr:nth-child(even) {
    /* background-color: #eee; */
}

td {
    color: rgb(102, 102, 102);
}

.d-block {
    display: block;
}

.my-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.link {
    text-decoration: none;
    color: #1976d2;
    max-width: 600px;
}